locals {
  environment = "{{ data_object.AccountType }}"
  workload    = "{{ data_object.AccountName }}"
  alias       = "{{ data_object.AccountName }}"
  tags        = merge(local.common-tags, { env = "{{ data_object.AccountType }}" })

}

module "iam" {
  source                  = "../../modules/iam"
  alias                   = local.alias
  tags                    = local.tags
  allow-manual-parameters = true
  ec2-ssm-role            = true
  cloudability-eid        = "{{data_object.CloudabilityEid}}"
}

module "config" {
  source = "../../modules/config"
  tags   = local.tags
}

module "s3" {
  source = "../../modules/s3"
}
